#contact {
    height: 100vh;
    margin: -79px auto 0;
    max-width: 500px;
    width: 100%;
}

#contact form {
    margin-top: 15px;
    width: 100%;
}

#contact input, 
#contact textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 15px;
}

#contact input:focus,
#contact textarea:focus {
    border: 1px solid #F7882F;
}

#contact input {
    color: #32333C;
    height: 42px;
    font-size: 14px;
}

#contact textarea {
    padding-top: 15px;
    padding-bottom: 15px;
}

#contact .input-block {
    position: relative;
    margin-bottom: 1.5rem;
}

#contact label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0 0 15px;
    transition: all 500ms;
    opacity: 0.5;
}

#contact input:focus + label,
#contact textarea:focus + label,
#contact input:valid + label,
#contact textarea:valid + label {
    color: #F7882F;
    font-size: 85%;
    padding-left: 0;
    padding-bottom: 2px;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

#contact .recaptcha {
    margin-bottom: 15px;
}