/*
 Paleta de cores:
  Blueberry: #687A8F
  Apricot: #F7882F
  Citrus: #F7C331
  Apple Core: #DCC7AA
  Font: #32333C
*/

$primary-color: #F7882F;
$secondary-color: #687A8F;
$alternative-color: #32333C;

$primary-font-color: #32333C;
$secondary-font-color: #FFFFFF;

$error: #ff0000;