#home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: -79px auto 0;
    position: relative;
}

#home .profile {
    display: grid;
    grid-template-columns: 250px 640px;
    gap: 90px;
}

#home .photo {
    border: 5px solid #F7882F;
    border-radius: 50%;
    height: 250px;
    margin: auto;
    overflow: hidden;
    width: 250px;
    position: relative;
}

#home .photo::before{
    background-color: rgba(28, 88, 156, 0.1);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

#home .photo img {
    width: 100%;
}

#home .sub-title {
    color: #F7882F;
    font-size: 30px;
    padding-bottom: 15px;
}

#home .title {
    color: #32333c;
    font-size: 60px;
    padding-bottom: 15px;
}

#home p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
    padding-bottom: 40px;
}

.header-social {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.header-social .header-social-icon {
    position: relative;
}

.header-social .header-social-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #F7882F;
    left: -102.5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-social .header-social-icon ul li {
    display: inline-block;
    margin-left: 13px;
}

.header-social .header-social-icon ul li:first-child {
    margin-left: 0;
}

.header-social .header-social-icon ul li a {
    color: #32333C;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #32333C;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

.header-social .header-social-icon ul li a:hover {
    color: #fff;
    background-color: #F7882F;
    border-color: #F7882F;
}