@import '../../styles/theme-color.scss';

#success-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  min-height: 64vh;
  max-width: 400px;

  svg {
    color: $primary-color;
    font-size: 50px;
  }

  p {
    margin: 15px 0;
  }
}