/*
 Paleta de cores:
  Blueberry: #687A8F
  Apricot: #F7882F
  Citrus: #F7C331
  Apple Core: #DCC7AA
*/

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #FFF;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}