/*
 Paleta de cores:
  Blueberry: #687A8F
  Apricot: #F7882F
  Citrus: #F7C331
  Apple Core: #DCC7AA
  Font: #32333C
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #FFF;
}

body, input, textarea, button {
  font-family: "Roboto", sans-serif; 
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #F7882F;
  margin: 0;
  position: relative;
}

p {
  color: #32333c;
}

.h1, h1 {
  font-size: 3rem;
}

.h2, h2 {
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 2.25rem;
}

.h4, h4 {
  font-size: 1.75rem;
}

.h5, h5 {
  font-size: 1.5rem;
}

.h6, h6 {
  font-size: 1.25rem;
}

#root {
  background-image: url("assets/interlaced.png");
}

#root::before {
  background-color: rgb(104, 122, 143, 0.03);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.content {
  align-items: center;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  padding-top: 79px;
  position: relative;
  width: 980px;
  z-index: 50;
}

.page-title {
  position: relative;
  margin-bottom: 45px;
}

.page-title h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.page-title h2::after, 
.page-title h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: auto;
  bottom: 0;
  height: 5px;
  border-radius: 100px;
}

.page-title h2::after {
  width: 35px;
  background: #F7882F;
}

.page-title h2::before {
  width: 100px;
  background: rgba(247, 136, 47, .3)
}

.page-title h2 + span {
  position: absolute;
    left: 0;
    top: 100%;
    font-size: 6rem;
    line-height: 1;
    font-weight: 900;
    color: rgba(104, 122, 143,.1);
    display: inline-block;
    text-transform: uppercase;
    z-index: -1;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.main-btn {
  background-color: #F7882F;
  border: 1px solid #F7882F;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  -moz-box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
  background-color: #fff;
  color: #F7882F;
}

.error {
  color: red;
}
