/*
 Paleta de cores:
  Blueberry: #687A8F
  Apricot: #F7882F
  Citrus: #F7C331
  Apple Core: #DCC7AA
  Font: #32333C
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: auto;
}

body {
  background: #FFF;
  font-size: 1.13rem;
}

body, input, textarea, button {
  font-family: "Roboto", sans-serif; 
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #F7882F;
  margin: 0;
  position: relative;
}

strong {
  color: #F7882F;
}

p {
  color: #32333c;
  text-align: justify;
}

.h1, h1 {
  font-size: 3rem;
}

.h2, h2 {
  font-size: 2.5rem;
}

.h3, h3 {
  font-size: 2.25rem;
}

.h4, h4 {
  font-size: 1.75rem;
}

.h5, h5 {
  font-size: 1.5rem;
}

.h6, h6 {
  font-size: 1.25rem;
}

#root {
  background-image: url("assets/interlaced.png");
}

#root::before {
  background-color: rgb(104, 122, 143, 0.03);
  content: '';
  height: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 79px;
  position: relative;
  width: 100%;
  z-index: 50;
}

#about .page-title,
#portfolio .page-title {
  margin-top: 0;
}

.main-btn {
  background-color: #F7882F;
  border: 1px solid #F7882F;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  -moz-box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  box-shadow: 0px 5px 8px 0px rgba(247, 136, 47, 0.55);
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-out 0s;
}

.main-btn:hover {
  background-color: #fff;
  color: #F7882F;
}

.error {
  color: #ff0000;
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}

@media screen and (max-width: 1199px) {
  .content {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}