header {
    background-color: #32333c;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header .social-icons li {
    display: inline-block;
    margin-left: 20px;
}

header .social-icons li:first-child {
    margin-left: 0;
}

header .social-icons li a {
    color: #fff;
    display: block;
    font-size: 1.4rem;
    padding-top: 3px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    text-align: center;
}

header .social-icons li a:hover {
    color: #F7882F;
}

header .links {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
    width: 980px;
}

header .main-menu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

header .menu-list li {
    margin-left: 30px;
    display: inline-block;
}

header .menu-list li:first-child {
    margin-left: 0;
}

header .menu-list a {
    color: #fff;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

header .menu-list a::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 0;
    background-color: #F7882F;
    left: 50%;
    top: -50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

header .menu-list li:hover a::before,
header .menu-list li a.active::before {
    height: 45px;
}

@media screen and (max-width: 767px) {
    header .links {
        grid-template-columns: 1fr 32px;
        padding: 0 15px;
        width: 100%;
    }

    header .main-menu {
        align-items: center;
        height: 0;
        justify-content: flex-start;
        margin-top: 80px;
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        flex-direction: column;
        background: #32333c;
        color: #fff;
        transition: height 0.6s ease;
        z-index: 2;
    }

    header .main-menu.active {
        height: 208px;
    }

    header .main-menu.active .menu-list li {
        opacity: 1;
        transition: 0.8s ease;
    }

    header .menu-list li{
        display: block;
        margin-left: 0;
        padding-bottom: 30px;
        text-align: center;
        opacity: 0;
        transition: 0.3s ease;        
    }

    header .menu-list a::before {
        display: none;
    }
}